# Module.config
# For more info on how to use this file, visit https://beaverbrewer.com/module-config

Module Name: Post Carousel Unchained
Module Version: 1.01
Author Name: Ryan Benhase
Author URL: http://beaverbrewer.com
Short Description: A clone of the Post Carousel module, but without a built-in link to the post. Useful for creating carousels without additional content.
Update URL: http://beaverbrewer.com/bb-updates/post-carousel-unchained
Download ZIP: http://beaverbrewer.com/bb-downloads/post-carousel-unchained
More Info URL: http://beaverbrewer.com/modules/post-carousel-unchained